<app-menu></app-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>list-posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">list-posts</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    @for (item of posts(); track $index){
      <app-post [post]="item"></app-post>
    } @empty{
      <div>
        No hay datos...
      </div>
    }

  </div>
</ion-content>
